################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/WebApplication11/v15/Server/sqlite3
/.vs/HttpClientSample/v15/Server/sqlite3/db.lock
/.vs/HttpClientSample/v15/Server/sqlite3/storage.ide-shm
/.vs/HttpClientSample/v15/Server/sqlite3/storage.ide
/.vs/HttpClientSample/v15/Server/sqlite3/storage.ide-wal
/.vs/Example/v15/Server/sqlite3
/Elmah/bin
/Elmah/obj
/Elmah/Properties
/hangfiretest/bin
/hangfiretest/obj
/hangfiretest/Properties
/.vs
/TestService/bin
/TestService/obj
/WebApplicationnlog/bin
/WebApplicationnlog/obj
/WebApplicationnlog/Properties
/HttpClientSample/bin
obj
Properties
bin
bin
obj
