@{
    ViewData["Title"] = "Home Page";
}

登录

<br />

<form method="post" action="/account/Loginpost">
    <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
    <button type="submit">test</button>
</form>